.designWithUs {
    position: relative;
    line-height: 68px;
    font-weight: 600;
    left: 200px;
}

.accessToThousands {
    margin: 0;
}

.accessToThousandsContainer {
    position: relative;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
    font-family: monospace;
    left: 150px;
}

.headlineAndSubhead {
    position: absolute;
    top: 178px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.signUpNow1 {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    font-family: Poppins;
    text-align: center;
}

.label {}

.labelWrapper {
    align-self: stretch;
    position: relative;
    height: 27px;
}

.textField1 {
    align-self: stretch;
    position: relative;
    border-radius: 12px;
    border: 3px solid rgba(102, 102, 102, 0.35);
    box-sizing: border-box;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
    font-family: 'Courier New', Courier, 'Times New Roman', Times, serif;
    padding: 5px;
}

.textField {
    width: 259px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.email {
    width: 534px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.usFlagIcon {
    width: 36px;
    position: relative;
    height: 26px;
}

.icons {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.flagDropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.div {
    position: relative;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flagDropdownParent {
    position: absolute;
    top: 14px;
    left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.textField5 {
    align-self: stretch;
    position: relative;
    border-radius: 12px;
    border: 2px solid rgba(102, 102, 102, 0.35);
    box-sizing: border-box;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 18px;
    color: #111;
}

.icon {
    position: absolute;
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.hide {
    position: absolute;
    top: 0px;
    right: 0px;
}

.passwordHideSee {
    position: absolute;
    top: 0px;
    right: 8.86px;
    width: 73px;
    height: 27px;
    text-align: right;
    font-size: 18px;
    color: rgba(102, 102, 102, 0.8);
}

.errorMessage {
    position: relative;
    font-size: 14px;
}

.nameParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    color: #666;
}

.byCreatingAn {
    color: #333;
}

.termsOfUse {
    font-family: 'Courier New', Courier, 'Times New Roman', Times, serif;
}

.span {
    color: #666;
}

.checkBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 8px 8px 0px;
    gap: 8px;
}

.iWantToContainer1 {
    width: 603px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.checkBox1 {
    width: 596px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 8px 8px 0px;
    box-sizing: border-box;
    gap: 8px;
    color: #333;
}

.checkBoxParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    color: #111;
}

.signUp {
    position: relative;
    font-weight: 500;

}

.signUpWrapper {
    position: absolute;
    top: calc(50% - 17px);
    left: calc(50% - 42px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 10px;
    width: 130px;
    position: relative;
    border-radius: 18px;
    background-color: rgb(80, 211, 80);
    height: 60px;
    overflow: hidden;
    font-size: 18px;
    font-family: Poppins;
}

.button:hover {
    background-color: rgb(77, 199, 77);
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(210, 187, 187, 0.3);
}

.logIn {
    text-decoration: underline;
    font-family: 'Courier New', Courier, 'Times New Roman', Times, serif;
}

.haveAnAccountLogin {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Courier New', Courier, 'Times New Roman', Times, serif;
    padding: 2px;
    text-align: left;
    font-size: 16px;
    color: #111;
}

.buttonParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.signUpNowParent {
    position: absolute;
    top: 40px;
    left: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.signUpNow {
    position: absolute;
    top: 50px;
    left: 1000px;
    border-radius: 24px;
    border: black solid 2px;
    background-color: #f7eeee;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    width: 772px;
    height: 770px;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}

.illustrationIcon {
    position: absolute;
    top: 398px;
    left: 33px;
    width: 538px;
    height: 538px;
    overflow: hidden;
}

.homePage {
    width: 100%;
    position: relative;
    background-color: #1f1f1f;
    height: 1000px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #fff;
    font-family: Poppins;
    /* background-image: url("../../public/images/image.png");
    background-size: inherit; */
}

body {
    overflow: hidden;
}

.loginNow {
    position: absolute;
    top: 64px;
    left: 1000px;
    border-radius: 24px;
    background-color: #f7eeee;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    width: 750px;
    height: 550px;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}

.textFieldLogin {
    width: 300px;
    position: relative;
    border-radius: 12px;
    border: 3px solid rgba(102, 102, 102, 0.35);
    box-sizing: border-box;
    height: 56px;
    overflow: hidden;
    flex-shrink: 0;
    font-family: 'Courier New', Courier, 'Times New Roman', Times, serif;
    padding: 5px;
}