.landing {
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    text-align: center;
    font-weight: 100;
    font-size: 6rem;
}

.motto-paragraph{
    text-align: center;
    margin-top: -30px;
    font-size: 25px;
}

.landing-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.landing-buttons button {
    height: 45px;
    width: 240px;
    background: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
}