@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Playwrite+CU:wght@100..400&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

.navbar {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  list-style: none;
  font-family: 'Faculty Glyphic';
  text-transform: uppercase;
}

.navLinks li {
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.05s;
}

.navLinks li:not(:has(.logo)):hover {
  transform: scale(1.04);
}

.logo {
  font-family: 'Faculty Glyphic';
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 30px;
  cursor: default;
}